*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    background-image: url(nav.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% ;
    line-height: 100%;
    height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    
}
.text{
    font-size: 1.5rem;
    padding: .5rem;
    
    
}
.navbar-link ul{
    padding: 0;
    margin: 0;
    display:flex
    
}
.navbar-link li{
    list-style: none;
}
.navbar-link li a {
    text-decoration: none;
    padding: 15px;
    color:white;
    display: block;
}
.navbar-link li:hover{
    background-color: rgba(19, 58, 102, 0.829);
}
.t_b{
    position: absolute;
    top:.75rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px;
}
.t_b .bar{
    height: 3px;
    width: 80%;
    background-color: white;
    border-radius: 10px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: minmax(200px,auto);
    grid-gap:0;
    width: 100vw;
    margin: 0 auto;
    
    text-align: center;
    height: 100vh;
    
}
.jumb{
    grid-column: 1/13;
    grid-row: 1;
    
}
.main{
    grid-column: 1/4;
    grid-row: 2;
}
.side{
    grid-column:4/13;
    grid-row:2;
}
.content{
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    text-transform: uppercase;
    color: purple;
    font-style: italic;
    
   
    
}
.content1{
    grid-column: 4/8;
    grid-row: 3;
    text-align: center;
    text-transform: uppercase;
    color: purple;
    font-style: italic;
    
}
.content2{
    grid-column: 8/13;
    grid-row: 3;
    text-align: center;
    text-transform: uppercase;
    color: purple;
    font-style: italic;
    
}
.content  ul li{
    list-style: none;

}
.content1  ul li{
    list-style: none;

}
.contact{
    grid-column: 1/13;
    grid-row:4;
    font-style: italic;
}
footer{
    grid-column: 1/13;
    grid-row:5;
}
.email{
    width:50%;
    height: 25px;
    border-radius: 5px;
    border-width: 0;
}
.submit{
    height: 25px;
    border-radius: 5px;
    border-width: 0;
    background-color:red;



}
.submit:hover{
    color: sandybrown;

}
button{
    background-color: steelblue;
    border-radius: 5px;
    height: 35px;
    border-width: 0;
}
button:hover{
    color: sandybrown;
}

@media screen and (max-width:600px){
    body{
        background-size: 2500px;
        padding: 5px;
    }
    .t_b{
        display:flex;
    }
    .navbar-link{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-link ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-link li{
        text-align:center;
    }
    .navbar-link li a{
        padding: .5rem 1rem;
    }
    .navbar-link.active{
        display:flex;
    }
    .grid{
        display:grid;
        grid-template-columns:(1,1fr);
        grid-template-rows:(8,1vh) ;
    }
    .jumb{
        grid-column: 1/13;
        grid-row: 1;
        
    }
    .main{
            grid-column: 1/13;
            grid-row: 2;
    }
    .side{
        grid-column: 1/13;
        grid-row: 3;
    }
    .content{
        grid-column: 1/13;
        grid-row: 4;
    }
    .content1{
        grid-column: 1/13;
        grid-row: 5;
    }
    .content2{
        grid-column: 1/13;
        grid-row: 6;
    }
    .contact{
        grid-column: 1/13;
        grid-row: 7;
    }
    footer{
        grid-column: 1/13;
        grid-row: 8;
    }


}